html{
    font-size: 62.5%;
}

body{
    font-family: 'Rubik', sans-serif;
    color: #333;
    font-weight: 300;
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
        margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

}

.container:after, .row:after{
    content: "";
    display: table;
    clear: both;
}

a{
    color: #74c7b0;
    text-decoration: none;
}

a:hover{
    color: #2E8F74;
}

.container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

nav{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4em;
    letter-spacing: .2em;
    height: 45px;
    padding: 10px 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    text-transform: uppercase;
}

nav > .nav-holder > .company{
    text-align: center;
    padding: 14px 0;
    font-weight: 500;
}

@media (min-width: 550px) {
    nav > .nav-holder > .company{
        float: left;
        text-align: left;
    }
}


nav > .nav-holder > .company > a{
    color: #333;
    text-decoration: none;
}

nav > .nav-holder > .company > a:hover{
    color: #2E8F74;
    text-decoration: none;
}

section{
    padding: 6em 0;
    border-top: 1px solid #eee;
}

.page-header{
    font-size: 4.4em;
    line-height: 1.28em;
    font-weight: 500;
    margin: .4em 0;
}

.page-subheader{
    padding-top: 2rem;
    vertical-align: top;
    font-size: 1.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .04rem;
}

.intro{
    font-size: 2.2em;
    width: 100%;
    line-height: 1.5em;
    margin: 0 0 1.75em;
}

.post-header{
    font-size: 2.5em;
    line-height: 1.28em;
    font-weight: 500;
}

.post-para{
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 1.75em;
}

.row{
    padding-top: 2rem;
    margin-top: 2rem;
}

input{
    font-size: 3em;
    width: 100%;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: .8rem;
}

input[type=submit]{
    background-color: #74c7b0;
    border: none;
    color: #fff;
}

input[type=submit]:hover{
    background-color: #2E8F74;
}